*{
	margin: .5rem;
	
}

header {
	text-align: center;
	align-content: center;
	font-family: san-serif;
	background-color: #596a87;
	border-style: solid;
	border-color: #bababa;
	border-width: 2.5pxl;
	color: #bababa;
}
h1 {
	text-align: center;
	align-content: center;
	font-family: san-serif;
	border-style: solid;
	border-width: 2.5px;
	background-color: #13294c;
}
body {
	background-color: #596a87;
	text-align: center;
	align-content: center;
	font-family: san-serif;	
	color: #bababa;
	
}
 nav, p{
	background-color: #596a87;
	text-align: center;
	align-content: center;
	font-family: san-serif;	
	color: #bababa;
	border-style: solid;
	border-width: 2.5px;
	background-color: #13294c;
}
img{
	border-style: solid;
	border-width: 5px;
	background-color: #13294c;
	resize: 600px;
}
a{
	color: #bababa;
}
footer{
	padding: 2rem;
	border-style: solid;
	border-width: 2.5px;
	background-color: #13294c;
}